# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: daily
    groups:
      production-dependencies:
        dependency-type: production
      development-dependencies:
        dependency-type: development
    ignore:
      - dependency-name: "@semantic-release/commit-analyzer"
        versions: ["12.0.0"]
      - dependency-name: "@semantic-release/github"
        versions: ["10.0.2"]
      - dependency-name: "@semantic-release/npm"
        versions: ["10.0.2"]
      - dependency-name: "semantic-release"
        versions: ["23.0.4"]
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
