.github
coverage
.eslintrc.json
.prettierrc
jest.config.json
tsconfig.json
__mocks__
*.config.js

# Exclude all test files
src/**/*.test.ts
dist/**/*.test.ts
dist/**/*.test.js
e2e
dist/**/*.test.d.ts*

