name: PR Title Check

on:
  pull_request:
    branches: [main]
    types: [opened, edited, synchronize]
  merge_group:

permissions: # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  title_check:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0

      - name: Install commitlint
        run: npm install --save-dev @commitlint/{config-conventional,cli}

      - name: Lint PR title
        if: ${{ github.event.pull_request && github.event.pull_request.title }}
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: echo "$PR_TITLE" | npx commitlint
