name: e2e Test

permissions:
  contents: read
on:
  # Triggered by node.js.yaml & release.yaml
  workflow_call:

jobs:
  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: clone kfc
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: defenseunicorns/kubernetes-fluent-client
          path: kubernetes-fluent-client

      - name: "set env: KFC"
        run: echo "KFC=${GITHUB_WORKSPACE}/kubernetes-fluent-client" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: kubernetes-fluent-client

      - name: install kubernetes-fluent-client deps
        run: |
          cd "$KFC"
          npm ci
        shell: bash

      - name: "install k3d"
        run: "curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - name: Set up Kubernetes
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4.0.1
        with:
          version: "latest"

      - name: "create k3d cluster"
        run: "k3d cluster create kfc-dev --k3s-arg '--debug@server:0' --wait && kubectl rollout status deployment -n kube-system"
        shell: bash

      - name: Prepare CRDs and Generate Classes
        run: |
          cd "$KFC"
          npm run test:e2e:prep-crds
        shell: bash

      - name: Prepare Image and Test
        run: |
          cd "$KFC"
          npm run build
          npm pack
          npm i kubernetes-fluent-client-0.0.0-development.tgz --no-save
          npm run test:e2e
        shell: bash
