name: E2E - Pepr Excellent Examples

permissions: read-all
on:
  workflow_dispatch:
  merge_group:
    paths-ignore:
      - "LICENSE"
      - "CODEOWNERS"
      - "**.md"
  schedule:
    - cron: "0 4 * * *" # 12AM EST/9PM PST
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# refs
# https://frontside.com/blog/2022-12-12-dynamic-github-action-jobs/
# https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

jobs:
  kubernetes-fluent-client-build:
    name: controller image
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: clone kubernetes-fluent-client
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: defenseunicorns/kubernetes-fluent-client
          path: kubernetes-fluent-client

      - name: "set env: KUBERNETES_FLUENT_CLIENT"
        run: echo "KUBERNETES_FLUENT_CLIENT=${GITHUB_WORKSPACE}/kubernetes-fluent-client" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: kubernetes-fluent-client

      - name: install kubernetes-fluent-client deps
        run: |
          cd "$KUBERNETES_FLUENT_CLIENT"
          npm ci

      - name: build kubernetes-fluent-client package
        if: ${{ (github.event.inputs.kfcBranch || 'none') == 'none' }}
        run: |
          cd "$KUBERNETES_FLUENT_CLIENT"
          npm run build
          npm pack
          mv kubernetes-fluent-client-0.0.0-development.tgz ${GITHUB_WORKSPACE}/kubernetes-fluent-client-0.0.0-development.tgz
          ls -l ${GITHUB_WORKSPACE}

      - name: upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kubernetes-fluent-client-package
          path: |
            kubernetes-fluent-client-0.0.0-development.tgz
          if-no-files-found: error
          retention-days: 1

  examples-matrix:
    name: job matrix
    runs-on: ubuntu-latest
    needs:
      - kubernetes-fluent-client-build
    outputs:
      matrix: ${{ steps.create-matrix.outputs.matrix }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: clone kubernetes-fluent-client
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: defenseunicorns/kubernetes-fluent-client
          path: kubernetes-fluent-client

      - name: "set env: KUBERNETES_FLUENT_CLIENT"
        run: echo "KUBERNETES_FLUENT_CLIENT=${GITHUB_WORKSPACE}/kubernetes-fluent-client" >> "$GITHUB_ENV"

      - name: clone pepr-excellent-examples
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: defenseunicorns/pepr-excellent-examples
          path: pepr-excellent-examples

      - name: "set env: PEPR_EXCELLENT_EXAMPLES_PATH"
        run: echo "PEPR_EXCELLENT_EXAMPLES_PATH=${GITHUB_WORKSPACE}/pepr-excellent-examples" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: kubernetes-fluent-client

      - name: create matrix
        run: |
          matrix=$(
            npx tsx "$KUBERNETES_FLUENT_CLIENT/e2e/matrix.mts" "$PEPR_EXCELLENT_EXAMPLES_PATH"
          )
          echo "matrix=${matrix}" >> "$GITHUB_OUTPUT"
        id: create-matrix

  excellent-examples:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs:
      - examples-matrix
    if: needs.examples-matrix.outputs.matrix != ''
    strategy:
      fail-fast: false
      max-parallel: 32 # Roughly matches the number of E2E tests and below GitHub concurrency limit
      matrix: ${{ fromJSON(needs.examples-matrix.outputs.matrix) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: "install k3d"
        run: "curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash"
        shell: bash

      - name: download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kubernetes-fluent-client-package
          path: ${{ github.workspace }}

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: defenseunicorns/pepr-excellent-examples
          path: pepr-excellent-examples

      - name: "set env: PEPR_EXCELLENT_EXAMPLES_PATH"
        run: echo "PEPR_EXCELLENT_EXAMPLES_PATH=${GITHUB_WORKSPACE}/pepr-excellent-examples" >> "$GITHUB_ENV"

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: pepr-excellent-examples

      - name: install pepr-excellent-examples deps
        run: |
          cd "$PEPR_EXCELLENT_EXAMPLES_PATH"
          npm ci

      - name: run e2e tests
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          max_attempts: 3
          retry_on: error
          timeout_minutes: 8
          command: |
            cd "$PEPR_EXCELLENT_EXAMPLES_PATH"
            npm run --workspace=${{ matrix.name }} test:e2e -- \
              --kfc ../kubernetes-fluent-client-0.0.0-development.tgz

      - name: upload artifacts (troubleshooting)
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: "troubleshooting_logs_${{matrix.name}}"
          path: |
            pepr-excellent-examples/package.json
            pepr-excellent-examples/package-lock.json
          if-no-files-found: error
          retention-days: 1
